@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --bg-image1: url("assets/img/bg1.jpg");
  --bg-image2: url("assets/img/bg2.jpg");
  --me-image1: url("assets/img/me_1.jpg");
  --me-image2: url("assets/img/me_2.jpg");
  --me-image3: url("assets/img/me_3.jpg");
  --prj-image1: url("assets/img/projec1.png");
  --prj-image2: url("assets/img/projec2.png");
}

#me1_img,
#me2_img,
#me3_img,
#prj1_img,
#prj2_img {
  background-size: cover;
  /* background-attachment: fixed; */
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#me1_img {
  background-image: var(--me-image1);
}

#me2_img {
  background-image: var(--me-image2);
}

#me3_img {
  background-image: var(--me-image3);
}

#prj1_img {
  background-image: var(--prj-image1);
}

#prj2_img {
  background-image: var(--prj-image2);
}

#changing-word {
  font-size: 2em;
  font-weight: bold;
  transition: opacity 0.5s ease-in-out;
}


* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box
}

div {}

img {}

section {
  height: 100%;
  background: var(--bg-image1);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

/* ============ layer */
.layer h1,
h2 {
  text-transform: uppercase;
}

.layer h2 {
  font-weight: 200;
  font-size: 2em;
}

.layer h1 {
  line-height: 1;
  font-size: 5em;
  font-weight: 900;
  background-image: var(--bg-image1);
  background-size: cover;
  background-attachment: fixed;
  background-clip: text;
  background-position: center;
  color: transparent;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

}

.layer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
  opacity: 70%;

}

/* ============ section1 */
section.section1 {
  height: calc(110vw + 100vh);
}

/* ============ section 2 */

section.section_bio {
  padding: 10%;
  color: white;
  background-image: var(--bg-image2);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

/* ============ section 3 */
section.section_project {
  /* height: 200vh; */
  padding: 10%;
  color: white;
  background-image: var(--bg-image2);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.section_project h1 {
  font-size: 40px;
  color: white;
  padding-bottom: 30px;
  text-transform: none;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px;
  padding: 3%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  background-color: #ffffff70;
}

@media (max-width: 800px) {
  .wrapper {
    grid-template-columns: 1fr;
    /* Stack items vertically */
    flex-direction: column; 
    }
    .layer h2 {
      font-size: 1em;
    }

    .layer h1 {
      font-size: 3em;
    }
  
  #changing-word {
    font-size: 1.5em;
  }
}

.wrapper .card {
  color: #111;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffffc3;
  min-height: 300px;
  min-width: 40%;

}

.wrapper .img {
  /* position: relative; */
  width: 100%;
  transition: 0.3s;
  object-fit: cover;
  min-height: 300px;
}


.wrapper .card:hover .img {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

/* 
.overlay {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.3s;
  position: absolute;
}

.overlay:hover {
  opacity: 1;
} */

/* ============ section 4 */
.section_contact {
  padding: 10%;
  height: 100vh;
  overflow: hidden;
}

.section_contact h1 {
  font-size: 2em;
  padding-bottom: 20px;
  color: white;
}

.section_contact .wrapper {
  max-height: 95%;
  border: solid 1px;
  overflow: hidden;
}

.section_contact .wrapper p {
  color: #000000;
}

.mapouter {
  position: relative;
  text-align: right;
  width: 100%;
  height: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  width: 100%;
  height: 100%;
}

.gmap_iframe {
  width: 100% !important;
  height: 100% !important;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}