
/* Resizable div styles */
.resizable-div {
    position: absolute; 
    width: 300px;
    height: 200px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

/* Style for the resize handles */
.resize-handle{
    background-color: #fff;
    position: absolute;
    cursor: pointer;
}


.top-left { width: 10px; height: 10px; top: 0; left: 0; cursor: nw-resize; }
.top-right { width: 10px; height: 10px; top: 0; right: 0; cursor: ne-resize; }
.bottom-left { width: 10px; height: 10px; bottom: 0; left: 0; cursor: sw-resize; }
.bottom-right { width: 10px; height: 10px; bottom: 0; right: 0; cursor: se-resize; }

.top { top: 0%; left: 50%; transform: translateX(-50%); width: calc(100% - 20px); height: 6px; cursor: n-resize; }
.bottom { bottom: 0%; left: 50%; transform: translateX(-50%); width:calc(100% - 20px); height: 6px; cursor: s-resize; }
.left { top: 50%; left: 0; transform: translateY(-50%); width:6px; height: calc(100% - 20px); cursor: w-resize; }
.right { top: 50%; right: 0; transform: translateY(-50%); width: 6px; height: calc(100% - 20px); cursor: e-resize; }


